<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/images/bootstrap.css" />
    <link href="/images/style.css" type="text/css" rel="stylesheet" />
    <link href="/images/promotion-box.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/lib.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="/images/1024.css">
    <link rel="stylesheet" media="only screen and (max-width: 991px) and (min-width: 768px)" href="/images/768.css">
    <link rel="stylesheet" media="only screen and (max-width: 767px)" href="/images/480.css">

    <!--[if lte IE 6]>
    <link href="images/style_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
    <link href="images/style_ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
        document.getElementsByName=function(str){
            str=new String(str);
            var myMatches=new Array();
            var allEls=document.getElementsByTagName("*"),l=allEls.length;
            for(var i=0;i<l;i++)if(allEls[i].name==str || allEls[i].getAttribute("name")==str)myMatches[myMatches.length]=allEls[i];
            return myMatches;
        }
    </script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div id="wrapper">
        {{#PATH_COMPONENT.'banner.php'}}
        {{#PATH_COMPONENT.'main-menu.php'}}
        <div class="clearfix" id="content">
            <div id="left_content">
                {{#PATH_COMPONENT.'linkex-list.php'}}
                {{#PATH_COMPONENT.'linkex-add.php'}}
            </div>
            <div id="right_content">
                {{#PATH_COMPONENT.'linkex-catlist.php'}}
                {{#PATH_COMPONENT.'box-support.php'}}
            </div>
        </div>
        <div id="footer">
            {{#PATH_COMPONENT.'footer-menu.php'}}
        </div>
    </div>
</div>
</body>
<script language="javascript" type="text/javascript">
    function checkLinkForm(f){
//Reciprocal Link URL
        if(f.BNdesc.value=="" || f.BNdesc.value==null){
            if(f.BNname.value=="" || f.BNname.value==null){
                window.alert(T_TITLE_REQUIRED);
                f.BNname.focus();
                return false;
            }
            if(f.BNurl.value=="" || f.BNurl.value==null){
                window.alert(T_URL_REQUIRED);
                f.BNurl.focus();
                return false;
            }
        }
        if(f.BNmybanner.value=="" || f.BNmybanner.value==null){
            window.alert(T_LINK_URL);
            f.BNmybanner.focus();
            return false;
        }
//email
        var regex = /^(([\-\w]+)\.?)+@(([\-\w]+)\.?)+\.[a-zA-Z]{2,4}$/;
        if(f.BNemail.value=="" || f.BNemail.value==null){
            window.alert(T_EMAIL_REQUIRED);
            f.BNemail.focus();
            return false;
        }
        if (!regex.test(f.BNemail.value)){
            window.alert(T_EMAIL_TYPE);
            f.BNemail.focus();
            return false;
        }
        if(f.scode.value=="" || f.scode.value==null){
            window.alert(T_SPAM_REQUIRED);
            f.BNmybanner.focus();
            return false;
        }
//Site title / Your site URL / Reciprocal Link URL
        f.CBname.value = f.CBid.options[f.CBid.selectedIndex].text;
        return esnc_aform(f);
    }

</script>
<script language="javascript" type="text/javascript" src="js/esnc_aform.php"></script>
</html>