<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!--<style type="text/css">@import url("images/style.css");</style>-->
<link href="images/style.css" type="text/css" rel="stylesheet" />
<link href="images/stylemenu.css" type="text/css" rel="stylesheet"  >
<!--[if lte IE 6]>
		<link href="images/style_ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if IE 7]>
		<link href="images/style_ie7.css" rel="stylesheet" type="text/css" />
	<![endif]-->
</head>
<body class="send_email_bd">
	{{#PATH_COMPONENT.'news-print.php'}}
</body>
</html>