/* CSS Document */
DIV.ct_hottour_{height:497px;}
DIV.title_hot_tour_all_{clear:both;}
DIV.left_group_tour_ UL{margin-bottom:20px;}
DIV.left_title_hot_tour{margin-bottom:7px;}
DIV.group_tour_top_pages{margin-bottom:20px; border-bottom:1px solid #007a5b; padding-bottom:5px;}
DIV.input_back_top{margin-right:4px; float:left;}
DIV.title_tour_list_new{margin-bottom:2px;}
H2.title_ht_big{margin:0px;padding:0px; font-weight:normal; display:inline;}
DIV.right_row_hotel_dt UL LI {background:url(arrow_6x6_ul.gif) no-repeat 0px 8px; padding-left:10px;  width:200px;}
DIV.data_hotel_dt UL{padding:0px;}
